.btn {
  width: 50px;
  height: 50px;
}

.row {
  padding-top: 10px;
  margin: 0px;
}
.display {
  width: 260px;
  border-style: solid;
  border-color: cornflowerblue;
  background-color: white;
  border-radius: 5px;
  width: 100%;
}
.result {
  padding-top: 10px;
}

.history {
  text-align: right;
  font-size: 15px;
  color: blue;
  padding-right: 6px;
}

.output {
  text-align: right;
  font-size: 30px;
  padding-right: 6px;
  height: 50px;
}

#calculator {
  margin-top: 60px;
  margin-left: 360px;
  background-color: black;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}
